body {
    background-color: #f0f8ff;
}

.card{
    max-width: 400px;
    margin: auto;
    border-radius: 20px;
}

#timer{
    font-size: 5rem;
}

.total-card{
    max-width: 600px;
    height: 800px;
    border-radius: 20px;
}

#total{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}